{% extends 'base.html' %}

{% block content %}

<script type="text/javascript">
function confirm_delete(title, id)
{
	return confirm("Delete " + title + "?");
}
</script>

<h2>Blog Entries</h2>

{% if current_user.is_authenticated() %}
<a class="op_link" href="/new_post">new post</a>
{% endif %}

<ol>
{% for entry in entries %}
	<li>
		<em>{{ entry.timestamp.date().isoformat() }}</em>
		{% if current_user.is_authenticated() %}
		<a class="op_link" href= "/blog/edit/{{ entry.id }} ">| edit</a>
		<a class="op_link" href= "/blog/delete/{{ entry.id }} ">| delete</a>
		{% endif %}
		<br>
		<a href= "/blog/{{ entry.id }}">{{ entry.title }}</a>
	</li>
{% endfor %}
</ol>

{% endblock %}